<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@40,200,0,200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,200,0,0" />



<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>
<body>
  <mat-toolbar>
    <div class="logo-container">
      <a href="/welcome" mat-btn target="_self" matTooltip="Back">
        <span class="logo animate-logo">
          Khethelo Njomo
        </span>
      </a>
    </div>
    <span class="example-spacer"></span>
    <button mat-button class="theme-btn" (click)="changeTheme()">
      <span class="material-symbols-sharp">
        {{mode}}
      </span>
    </button>
  </mat-toolbar>
  <header class="js-fixed">
    <div class="fixed-header animate-background scrolled">
      <div class="container header-container">
        <div class="nav-links">
          <a mat-btn href="/about" target="_self" matTooltip="More about me"><h2>About</h2></a>
          <a mat-btn href="/projects" target="_self" matTooltip="Projects"><h2>Projects</h2></a>
          <a mat-btn href="/contact" target="_self" matTooltip="Contact"><h2>Contact</h2></a>
         
        </div>
      </div>
    </div>

  </header>
</body>
</html>
